@import url('https://fonts.googleapis.com/css2?family=Allerta&family=Amatic+SC&family=Caveat&family=Kaushan+Script&family=Kdam+Thmor+Pro&family=Nothing+You+Could+Do&family=Noto+Sans+Mono&family=Orbitron&family=Philosopher:ital@1&family=Press+Start+2P&family=Roboto:wght@400;700&family=Shadows+Into+Light&family=Silkscreen&family=Splash&display=swap');

* {
  box-sizing: border-box;
}
body {
  background-color: coral;
  font-family: cursive;
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.btn {
  background-color: rebeccapurple;
  border-radius: 5px;
  border: none;
  color: #fff;
  margin: 1rem;
  padding: 1.5rem 3rem;
  font-size: 1.2rem;
  font-family: inherit;
  cursor: pointer;
}
.btn:hover {
  background-color: rgba(68, 34, 100, 0.9);
  transform: scale(0.98);
}
.btn:focus {
  outline: none;
}
